<footer class="footer">
  <small>
    The Tweets Application
    by
    <%= link_to "Ajith Kumar" ,href="https://glacial-bayou-78260.herokuapp.com/" %>
  </small>
  <nav>
    <ul>
      <li>profile on:</li>
      <li><a href="https://github.com/coderajith">Github</a></li>
      <li><a href="https://stackoverflow.com/cv/coderajith">Stackoverflow</a></li>
    </ul>
  </nav>
</footer>
