<footer class="footer">
  <small>
     Twitts Application
    by <a href="https://glacial-bayou-78260.herokuapp.com/" target="_blank">Ajith Kumar</a>
  </small>
  <nav>
    <ul>
      <li>profile on:</li>
      <li><a href="https://github.com/coderajith" target="_blank">Github</a></li>
      <li><a href="https://stackoverflow.com/cv/coderajith" target="_blank">Stackoverflow</a></li>
    </ul>
  </nav>
</footer>
